.thoughtContainer{
        margin: 1px;
        /* background-color: red; */
}
.thoughtContent{
        padding: 2%;
}
.thoughtContent p{
        font-size: 18px;
        padding: 2%;
        background-color: white
}